//A "clearfix" mixin to be used with floated elements
@mixin clearfix {
    //Append a pseudoelement after the element to clear any floats
    &::after {
        //pseudo-elements require a content property
        content: "";
        //standard display property for a clearfix
        display: table;
        //clear both left and right floats
        clear: both;
    }
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}