//A "clearfix" mixin to be used with floated elements
@mixin clearfix {
    //Append a pseudoelement after the element to clear any floats
    &::after {
        //pseudo-elements require a content property
        content: "";
        //standard display property for a clearfix
        display: table;
        //clear both left and right floats
        clear: both;
    }
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER
/*

0-600px:        Phone
600-900px:      Tablet portrait
900-1200px:     Tablet landscape
1200-1800px:    Desktop (where normal styles apply)
1800px+ :       Big Desktop

    $breakpoint argument choices:
    - phone         (max 600px)
    - tab-port      (max 900px)
    - tab-land      (max 1200px)
    - big-desktop   (min 1800px)

    1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content };    //600px
    }

    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content };     //900px
    }

    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content };    //1200px
    }

    @if $breakpoint == big-desktop {
        @media (mid-width: 112.5em) { @content };    //1800px
    }
}

