*, 
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit; /* by using inherit here, all elements will inherit from the border-box set on body (which is border-box) */
}

/*
    html:
    We want to use 10px as our font-size so that it is easy to calculate rem values later on.
    But, if we set font-size here using pixels, it will not allow users to set their own browser default font sizes.
    Default browser font size is 16px, so we're starting with 10/16 or 62.5%.
*/
html {
    //This defines what 1rem is
    font-size: 62.5%;       //1rem = 10px; 10px/16px = 62.5%

    //Because our page is built in rem-s, we can scale the full webpage by changing the font-size property

    @include respond(phone) {
        font-size: 50%;     //1rem = 8px; 8/16 = 50%
    }

    @include respond(tab-port) {
        font-size: 50%;     //1rem = 8px; 8/16 = 50%
    }

    @include respond(tab-land) {
        font-size: 56.25%;     //1rem = 9px; 9/16 = 56.25%
    }

    @include respond(big-desktop) {
        font-size: 75%;     //1rem = 12px; 12/16 = 75%
    }
}

body {
    box-sizing: border-box; /* border-box means borders and padding are not calculated into total size of elements */
}
